/ {
    pwmleds: pwmleds {
        compatible = "pwm-leds";
        status = "okay";
        green_pwm_led: green_pwm_led {
            pwms = <&pwm2 3 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
            /*          ^ channel 3, matches tim2_ch3_pb10 */
        };
    };
    aliases {
        pwm-led0 = &green_pwm_led;
    };
};

&pwm2 {
    status = "okay";
};